/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #B9D9EB;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Pokedex container styles */
.pokedex-container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Header and controls */
h1 {
    text-align: center;
    color: #3c5aa6;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

button#get-random-pokemon {
    margin-bottom: 50px; 
}

.search-bar {
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

#pokemon-search {
    padding: 5px;
    width: 65%;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

#pokemon-search:focus {
    border-color: #17a9ac;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

/* Shared style */
button {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

button:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

button:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

button:active {
    transform: scale(0.9);
}

/* Pokemon display grid */
.pokemon-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Pokemon card styles */
.pokemon-card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.pokemon-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.pokemon-card:hover img {
    transform: scale(1.1);
}

.pokemon-card h2 {
    margin: 15px 0;
    font-size: 1.8rem;
    color: #333333;
    transition: color 0.3s;
}

.pokemon-card p {
    margin: 10px 0;
    color: #666666;
    font-size: 1rem;
}


.pokemon-card:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 103, 0, 0.1), rgba(76, 201, 240, 0.1));
    transform: rotate(25deg);
    z-index: 0;
    transition: opacity 0.3s;
}

.pokemon-card:hover:before {
    opacity: 0.3;
}

.pokemon-card h2,
.pokemon-card p {
    position: relative;
    z-index: 1;
}

.pokemon-card img {
    position: relative;
    z-index: 1;
}


/* Pokemon modal styles */
.pokemon-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.pokemon-modal-content {
    background-color: #B9D9EB;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Pokemon details container */

#modal-content {
    background-color: #ffffdf;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}

.pokemon-details-container {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pokemon-details-container img {
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
}

.pokemon-details-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333333;
}

.pokemon-details-container p {
    font-size: 1.2rem;
    color: #555555;
    margin: 5px 0;
}

.pokemon-details-container .types {
    display: flex;
    gap: 10px;
}

.pokemon-details-container .type {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    font-size: 1rem;
}

/* Random Pokemon container */
.random-pokemon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.random-pokemon-container img {
    width: 100px;
    height: 100px;
}

.random-pokemon-container h2 {
    font-size: 1.2rem;
    color: #333333;
    margin: 5px 0;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}


.controls button {
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .pokedex-container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    #pokemon-search {
        width: 90%;
    }

    .filter-buttons {
        gap: 10px;
    }

    .pokemon-display {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }

    .pokemon-card {
        padding: 20px;
    }

    .pokemon-card h2 {
        font-size: 1.5rem;
    }

    .close{
        width: 5px;
        height: 5px;
    }

    .pokemon-card img {
        width: 100px;
        height: 100px;
    }

    .pokemon-details-container h2 {
        font-size: 1.5rem;
    }

    .pokemon-details-container img {
        width: 50%;
        height: 50%;
    }

    .pokemon-details-container p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    .pokemon-display {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 10px;
    }

    .pokemon-card img {
        width: 80px;
        height: 80px;
    }

    .pokemon-card h2 {
        font-size: 1.2rem;
    }

    .close{
        width: 5px;
        height: 5px;
    }

    .random-pokemon-container {
        width: 150px;
    }

    .random-pokemon-container img {
        width: 80px;
        height: 80px;
    }

    .random-pokemon-container h2 {
        font-size: 1rem;
    }
}